<a href="https://colab.research.google.com/github/tabassum-laz/Artificial-Intelligence-Lab/blob/main/AI_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#create a list
lst=[1,2,3,'Laz','Tabassum']
lst1=[]
lst2=list()
lst2=[lst]
lst1.append(12)
lst1.append(1)
lst1.append(15)
print(lst)
print(lst1)
print(lst2)
lst2.append(lst1)
print(lst2)

[1, 2, 3, 'Laz', 'Tabassum']
[12, 1, 15]
[[1, 2, 3, 'Laz', 'Tabassum']]
[[1, 2, 3, 'Laz', 'Tabassum'], [12, 1, 15]]

In [ ]:
#list operation
lst=[1,4,2,8,9,3]
lst1=[1,4,2,8,9,3]
print("Initial lst:",lst)
#append
lst.append(18)
print("After append lst: ",lst)
#insert
#lst.insert(index,data)
lst.insert(3,20)
lst.insert(3,15)
print("After insert lst: ",lst)

#sort
lst.sort(reverse=True)
print("After sorted: lst",lst)
#sorted
lst2=sorted(lst1)
print("Lst1: ",lst1)
print("lst2 after sorted: ",lst2)

In [ ]:
#reverse
lst=[2,5,2,9,1]
lst.reverse()
print(lst)
print(lst[3])
#update
lst[2]='Naeem'
print(lst)
#delete
lst.pop()
print(lst)
lst.remove('Naeem')
print(lst)
print(lst.pop())

In [ ]:
lst=[1,9,13,7,9,2, 5, 2]
p=lst.index(9)
print(p)
p=lst.index(9,2,8)
print(p)

In [ ]:
lst=[1,9,13,7,9,2, 5, 2]
lst2=lst[:]
print(lst2)
lst2=lst[3:]
print(lst2)
lst2=lst[2:6]
print(lst2)
lst2=lst[:4]
print(lst2)

In [ ]:
l=[4,5,7,9,12,35]
print(l)
print(l[5])
l[4]=34
print(l[4])

[4, 5, 7, 9, 12, 35]
35
34

In [ ]:
#create list by user input
n=int(input("Enter the number of element: "))
lst=[]
for i in range(0,n):
  data=input("Enter the data: ")
  lst.append(data)
print(lst)
m=input("Enter the searching value: ")
t=m in lst
print(t)
t=lst.index(m)
print(t)
c=lst.count(m)
print(c)

In [28]:
n=int(input("Enter the number of element: "))
lst=[]

for i in range(0,n):
  data=int(input("Enter the data: "))
  lst.append(data)
if n<2:
  print("Not possible")
else:
  lst2=lst[1:n-1]
  print(lst2)

Enter the number of element: 5
Enter the data: 1
Enter the data: 2
Enter the data: 3
Enter the data: 4
Enter the data: 5
[2, 3, 4]

In [31]:
f=open('laz.txt','r')
print(f.readline())

Hello..

In [32]:
print(f.readline())
f.close()

I am Laz..

In [33]:
f=open('laz.txt','r')
print(f.read())
f.close()

Hello..
I am Laz..

In [34]:
f = open("laz.txt", "a")
f.write("I am 22 years old.")
f.close()

f = open("laz.txt", "r")
print(f.read())
f.close()

Hello..
I am Laz..I am 22 years old.

In [35]:
f = open("laz.txt", "w")
f.write("I am 22 years old.")
f.close()

f = open("laz.txt", "r")
print(f.read())
f.close()

I am 22 years old.